<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>letters to steve</title>

    <!-- Tailwind CSS Play CDN https://tailwindcss.com/docs/installation/play-cdn -->
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap"
      rel="stylesheet"
    />

    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/sse.js"></script>

    <style>
      * {
        font-family: "Patrick Hand", cursive;
      }
    </style>
  </head>

  <body class="flex items-center justify-center h-screen">
    <div class="text-center">
      <h1 class="text-2xl font-bold">letters to steve</h1>

      <img src="/static/steve.png" alt="steve" class="w-1/2 mx-auto my-4" />

      <h2 class="text-xl font-bold font-italic">
        actual functionality coming soon
      </h2>
      <button
        id="counterButton"
        class="mt-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
        hx-post="/inc-counter"
        hx-trigger="click"
        hx-target="#counter"
      >
        increment counter for no reason
      </button>
      <div
        id="counter"
        class="mt-4"
        hx-ext="sse"
        sse-connect="/get-counter"
        sse-swap="count"
      >
        ...
      </div>
    </div>
  </body>
</html>
